/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  /* background:  34, 123, 123)"#0f0f0f" ; */
  background: #080808;
  width: 100vh;
  min-height: 100vh;
}